<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4K2K3iQY4XT-fvLp5wFCQ-atg5-6lAGk</string>
	<key>GCM_SENDER_ID</key>
	<string>367197570146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doorCare</string>
	<key>PROJECT_ID</key>
	<string>doorcareuser-8283c</string>
	<key>STORAGE_BUCKET</key>
	<string>doorcareuser-8283c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367197570146:ios:4a43432e75efd672587d3b</string>
</dict>
</plist>